.projects {
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
  justify-content: center;
  margin-top: -4rem;
}
/* heading */
.projects > span:nth-child(1) {
  color: var(--secondary-dark);
  font-size: 2rem;
  font-weight: bold;
}
.projects span:nth-child(2) {
  color: var(--primary-light);
  font-size: 2.5rem;
  font-weight: bold;
}
.viewAllBtn {
  margin-top: 5vh;
  background-color: white;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: var(--boxShadow);
  border: 1px solid var(--primary-light);
  transition: all 0.1s;
}
.viewAllBtn * {
  color: var(--secondary-dark);
  text-decoration: none;
}
.viewAllBtn:hover {
  transform: scaleX(1.03);
}
.viewAllBtn:active {
  transform: scaleX(1);
}
/* slider */

.projects-slider {
  overflow: visible !important;
  margin-top: 3rem;
  width: 100%;
}
.projects-slider :hover {
  transform: scale(1.01);
  transition: all 0.2s;
}
.projects-slider .swiper-slide {
  width: 20rem;
}
.projects img {
  width: 19rem;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
}

@media screen and (max-width: 780px) {
  .projects {
    margin-top: -10rem;
  }
}
