.card {
  display: flex;
  width: 150px;
  padding: 20px;
  border-radius: 8px;
  background: #fff;
  row-gap: 10px;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--boxShadow);
}
.image {
  width: 100%;
  height: 100%;
  /* background-color: aqua; */
  object-fit: contain;
}
/*

.circleWrap {
  position: relative;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circleWrap::after {
  content: "";
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background: #fff;
}
.progressValue {
  position: relative;
  color: var(--secondary-dark);
  z-index: 1;
  font-size: 20px;
  font-weight: 600;
}
*/
.title {
  color: var(--secondary-dark);
  font-size: 30px;
}
@media only screen and (max-width: 780px) {
  .card {
    width: 25vw;
    padding: 2px;
  }
  .title {
    font-size: 5vw;
  }
}
/*
@media only screen and (max-width: 780px) {
  .card {
    width: 25vw;
    padding: 2px;
  }
  .circleWrap {
    height: 40px;
    width: 40px;
  }
  .circleWrap::after {
    height: 30px;
    width: 30px;
  }
  .progressValue {
    font-size: 10px;
  }
  .title {
    font-size: 15px;
  }
} */
