.card {
  display: flex;
  width: 150px;
  padding: 20px;
  border-radius: 8px;
  background: #fff;
  row-gap: 10px;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--boxShadow);
}
.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.title {
  color: var(--secondary-dark);
  font-size: 30px;
}
@media only screen and (max-width: 780px) {
  .card {
    width: 25vw;
    padding: 2px;
  }
  .title {
    font-size: 5vw;
  }
}
