.n-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
}
.n-left {
  display: flex;
  flex: 1;
  gap: 2rem;
  align-items: center;
}
.n-name {
  font-size: 1.3rem;
  font-weight: bold;
}
/* right */
.n-right {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  z-index: 10;
}
.n-list {
  flex: 10;
}
.n-list > ul {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
  list-style: none;
}
.n-list > ul > *:hover {
  cursor: pointer;
  color: var(--primary-light);
}
.n-button {
  flex: 2;
}

/* menu button */
.navigation-checkbox {
  display: none;
}

.navigation-button {
  background-color: transparent;
  /* background-color: #fff; */
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(#000, 0.1);
  text-align: center;
  cursor: pointer;
  display: none;
}
.navigation-nav {
  height: 50vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  transition: all 0.8s;
}
.navigation-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
  background-color: var(--secondary-medium);
}

.navigation-item {
  margin: 1rem;
}

.navigation-link:link,
.navigation-link:visited {
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s;
}
.navigation-link:hover,
.navigation-link:active {
  /* background-position: 100%;
  color: rgb(109, 194, 109); */
  transform: translateX(1rem);
}

/* // functionality */
.navigation-checkbox:checked ~ .navigation-nav {
  opacity: 1;
  width: 100%;
}
/* //icon */
.navigation-icon {
  position: relative;
  margin-top: 1rem;
}
.navigation-icon,
.navigation-icon::before,
.navigation-icon::after {
  width: 1.5rem;
  height: 4px;
  background-color: var(--primary-light);
  display: inline-block;
}
.navigation-icon::before,
.navigation-icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation-icon::before {
  top: -0.3rem;
}
.navigation-icon::after {
  top: 0.3rem;
}
.navigation-button:hover .navigation-icon::before {
  top: -0.5rem;
}
.navigation-button:hover .navigation-icon::after {
  top: 0.5rem;
}
.navigation-checkbox:checked + .navigation-button .navigation-icon {
  background-color: transparent;
}
.navigation-checkbox:checked + .navigation-button .navigation-icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation-checkbox:checked + .navigation-button .navigation-icon::after {
  top: 0;
  transform: rotate(-135deg);
}
@media screen and (max-width: 780px) {
  .n-left {
    gap: 5rem;
  }
  .n-list {
    display: none;
  }
  .n-button {
    display: none;
  }
  .navigation-button {
    display: block;
  }
  .toggleDN {
    display: none;
  }
}
