.n-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
}
.n-left {
  display: flex;
  flex: 1;
  gap: 2rem;
  align-items: center;
}
.n-name {
  font-size: 1.3rem;
  font-weight: bold;
}
/* right */
.n-right {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  z-index: 10;
}
.n-list {
  flex: 10;
}
.n-list > ul {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
  list-style: none;
}
.n-list > ul > *:hover {
  cursor: pointer;
  color: var(--primary-light);
}
.n-button {
  flex: 2;
}
.nav-icon {
  height: 2rem;
  width: 2rem;
  color: white;
  cursor: pointer;
  display: none;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
}
.navigation-list {
  list-style: none;
  display: none;
  position: fixed;
  inset: 0 0 0 100%;
  padding: min(30vh, 10rem) 1.5em;
  z-index: 1000;
  height: 100vh;
  margin-top: 0vh;
  background: hsla(225, 50%, 30%, 0.9);
}
@supports (backdrop-filter: blur(1rem)) {
  .navigation-list {
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);
  }
}
.show {
  inset: 0 0 0 30% !important;
}
.navigation-item {
  margin: 1rem;
}
a {
  text-decoration: none;
  color: inherit;
}
@media screen and (max-width: 780px) {
  .n-left {
    gap: 5rem;
  }
  .n-list {
    display: none;
  }
  .n-button {
    display: none;
  }
  .toggleDN {
    display: none;
  }
  .nav-icon {
    display: block;
  }
  .navigation-list {
    display: block;
  }
}
