.projectDetails {
  display: flex;
  height: 50vh;
  width: 60vw;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px var(--secondary-medium);
  overflow: hidden;
  margin: 1rem auto;
  align-items: center;
  position: relative;
}
/* image */
.imgContainer {
  width: 40vw;
  height: 100%;
}
.imgContainer img {
  height: 100%;
  width: 40vw;
  border-radius: 5px 0 0 5px;
}
/* description */
.descriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  height: 100%;
}
.descriptionContainer * {
  text-decoration: none;
}
.descriptionContainer h2 {
  font-size: 1.5rem;
}
.descriptionContainer div {
  font-size: 80%;
}
.descriptionContainer span {
  color: var(--primary-light);
  border-top: 1px solid var(--secondary-medium);
  border-bottom: 1px solid var(--secondary-medium);
}
.p-button {
  border-radius: 20px;
  margin-top: 2rem;
  border: none;
  color: var(--tertiary-light);
  font-size: 10px;
  padding: 7px 16px 7px 16px;
  background: linear-gradient(
    180deg,
    var(--primary-light) 26.71%,
    var(--primary-medium) 99.36%
  );
  box-shadow: 0px 20px 24px 3px var(--primary-dark);
}
.p-button:hover {
  background: var(--tertiary-light);
  cursor: pointer;
  color: var(--primary-light);
  border: 1px solid var(--primary-light);
  transform: scale(1.02);
}
@media screen and (max-width: 780px) {
  .projectDetails {
    flex-direction: column;
    width: 100%;
  }
  .imgContainer {
    width: 100%;
  }
  .imgContainer img {
    width: 100%;
  }
}
