.floatingDiv {
  display: flex;
  justify-content: space-around;
  background: var(--tertiary-light);
  box-shadow: var(--boxShadow);
  border-radius: 17px;
  align-items: center;
  padding: 0px 55px 0px 0px;
  height: 4.5rem;
}
.floatingDiv > img {
  transform: scale(0.4);
}
.floatingDiv > span {
  font-family: sans-serif;
  font-size: 16px;
  color: var(--secondary-dark);
}
@media screen and (max-width: 780px) {
  .floatingDiv {
    padding: 0px 20px 0px 0px;
    height: 4rem;
  }
}
