:root {
  --primary-light: #f5c32c;
  --primary-medium: #fca61f;
  --secondary-light: #ddf8fe;
  --secondary-medium: #788097;
  --secondary-dark: #242d49;
  --tertiary-light: #fff;
  --tertiary-medium: rgb(255, 210, 244);
  --tertiary-basic: #ebebeb;
  --tertiary-dark: rgba(255, 255, 255, 0.26);
  --basic: #5290fd;
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --primary-dark: rgba(252, 166, 31, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}
@keyframes animatebtn {
  50% {
    transform: scale(1.3);
  }
}
.App {
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--secondary-dark);
  position: relative;
}
.button {
  border-radius: 34px;
  border: none;
  color: var(--tertiary-light);
  font-size: 16px;
  padding: 11px 26px 11px 26px;
  background: linear-gradient(
    180deg,
    var(--primary-light) 26.71%,
    var(--primary-medium) 99.36%
  );
  box-shadow: 0px 20px 24px 3px var(--primary-dark);
}
.button:hover {
  background: var(--tertiary-light);
  cursor: pointer;
  color: var(--primary-light);
  border: 1px solid var(--primary-light);
  transform: scale(1.02);
}
.moveToTop {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  border-radius: 50%;
  background-color: var(--tertiary-dark);
  z-index: 100;
  text-decoration: none;
  width: 2rem;
  height: 2rem;
  text-align: center;
  color: var(--primary-light);
  animation: animatebtn 4s linear infinite;
}
@media screen and (max-width: 480px) {
  .App {
    padding: 0.5rem 0.5rem;
  }
}
